@mixin theme-sidebar($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);

  .sidebar-wrapper {
    height: inherit;
    display: flex;
    flex-flow: row;

    .sidebar {
      // width: 250px;
      overflow-y: auto;
      overflow-x: hidden;
      height: inherit;
      background-color: map-get($accent, 500) !important;
      z-index: 1;
      box-shadow: 2px 0px 5px 0 rgba(0, 0, 0, 0.12), 2px 2px 10px 0 rgba(0, 0, 0, 0.10);

      &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 10px;
      }

      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: transparent;
      }

      &::-webkit-scrollbar-track {
        box-shadow: none;
      }

      &:hover {
        &::-webkit-scrollbar-thumb {
          background-color: #b3d4fc;
        }
      }

      &.compact {
        .item {
          padding-left: 0px;
          display: flex;
          justify-content: center;

          fa-icon {
            width: auto;
          }
        }

        .text {
          display: none;
        }

        .page-content {
          display: none;
        }
      }

      .label {
        // color: #4D7DE6;
        color: white;
        background-color: map-get($accent, 500) !important;
        text-align: center;
        padding: 8px 5px 8px 5px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 13px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        cursor: pointer;

        fa-icon {
          padding-left: 10px;
        }
      }

      .item {
        color: white;
        height: 35px;
        width: 100%;
        display: flex;
        align-items: center;
        height: 45px;
        padding-left: 25px;
        cursor: pointer;

        fa-icon {
          width: 25px;
        }

        &:hover {
          background: hsla(0, 0%, 100%, .08);
        }
      }

      .text {
        font-size: 16px;
        padding-left: 10px;
      }

      .page-content {
        display: flex;
        flex-flow: column;

        .content {
          color: white;

          .header1 {
            height: 47px;
            display: flex;
            align-items: center;
            cursor: pointer;

            .content-item {
              padding-left: 25px;
            }

            &:hover {
              background: hsla(0, 0%, 100%, .08);
            }
          }
        }
      }
    }

    .tree {
      display: flex;
      color: white;
      z-index: 0;

      .parents {
        display: flex;
        background-color: map-get($accent, 500 );
        list-style: none;
        padding: 0;
        margin: 0;

        .parent {
          width: 50px;
          border-left: 1px solid rgba(0, 0, 0, 0.2);
          ;
          cursor: pointer;

          .item {
            padding-bottom: 8px;
            transform: rotate(90deg);
            transform-origin: 10px 80%;
            width: 500px;
            text-transform: uppercase;

            fa-icon {
              padding-right: 10px;
            }
          }

          &:hover {
            background-color: hsla(0, 0%, 100%, .08);
          }
        }
      }

      .entries {
        z-index: 1;
        width: 300px;
        background-color: #fafafa;
        color: #616161;
        min-height: 80vh;
        transition: all .6s ease;
        border-left: 1px solid rgba(0, 0, 0, .1);
        list-style: none;
        padding: 0;
        overflow: auto;
        margin: 0px;

        .entry {
          display: flex;
          border-top: 1px solid rgba(0, 0, 0, .1);

          .text {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 6px 0;
            cursor: pointer;

            fa-icon {
              padding-left: 10px;
            }

            span {
              padding-left: 10px;
            }

            &:hover {
              background-color: rgba(0, 0, 0, 0.05)
            }
          }

          .is-pagelink {
            display: flex;
            width: 50px;
            justify-content: center;
            align-items: center;
            padding: 6px 0;
            cursor: pointer;

            &:hover {
              background-color: rgba(0, 0, 0, 0.05)
            }
          }
        }
      }

      // handler
      .entries::-webkit-scrollbar-thumb {
        background-color: #616161;
        // border-radius: 10px;
      }

      .entries::-webkit-scrollbar {
        width: 6px;
      }
    }
  }
}
