@mixin theme-user-create($theme) {
  user-create .user-create {
    display: flex;
    flex-direction: column;

    mat-dialog-content {
      display: flex;
      flex-flow: column;

      input {
        border: none;
      }

      mat-form-field {
        width: 300px;
      }
    }

    .button {
      margin-right: 10px;
    }
  }
}
