@import '~@angular/material/theming';

@mixin theme-system($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);

  .system {
    height: calc(100vh - 50px);
    overflow: auto;
    color: map-get($foreground, base);

    section {
      border-top: 1px solid #eee;
      padding: 20px;
      font-size: 14px;
    }

    label {
      margin-bottom: 5px;
      font-size: 14px;
      font-weight: 500;
      display: block;
    }

    .section-block {
      padding-left: 20px;
      font-size: 14px;
      color: #37474f;

      h6 {
        font-size: 14px;
        font-weight: 500;
        color: #546e7a;
        margin-top: 15px;
        border-bottom: 1px dotted #b0bec5;
      }
    }
  }
}
