$dark-primary: mat-palette($mat-light-blue);
$dark-accent:  mat-palette($mat-yellow, 400);
$dark-warn:    mat-palette($mat-red, 400);
$dark-theme:   mat-light-theme($dark-primary, $dark-accent, $dark-warn);
