<div class="create">
  <h1 mat-dialog-title>Create Document</h1>

  <mat-dialog-content>
    <mat-form-field>
      <mat-select [(ngModel)]="selectedTemplate" matInput placeholder="Template">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let template of templates" [value]="template">
          {{template}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="path" matInput placeholder="Path">
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="button is-teal is-outlined" (click)="create()">Create</button>
    <button class="button is-teal is-outlined" (click)="cancel()">Cancel</button>
  </mat-dialog-actions>
</div>
