<div class="debug">
  <div class="page-header">
    <div class="title">
      <h1>Debug</h1>
      <h2>Test wiki functionalities</h2>
    </div>
    <div class="icon">
      <fa-icon [icon]="faCogs" size="3x"></fa-icon>
    </div>
  </div>
  <section>
    <label>Function Tests</label>
    <div class="section-block">
      <h6>Loading Test</h6>
      <p>Test loading spinner</p>
      <p><button (click)="spinnertest()" class="button is-teal is-outlined">Test</button></p>
    </div>
    <div class="section-block">
      <h6>Notification test</h6>
      <p>Test Notification</p>
      <p><button (click)="notifytest()" class="button is-teal is-outlined">Test</button></p>
    </div>
  </section>
</div>
