<div class="app" [ngClass]="{'dark-theme' : isDarkTheme, 'default-theme' : !isDarkTheme }">
  <navbar *ngIf="user"></navbar>
  <div class="wrapper">
    <div class="blur" *ngIf="blurVisible" (click)="closeSidebar()" [@blurEnterAnimation]></div>
    <sidebar *ngIf="user" class="sidebar"></sidebar>
    <div class="content" [ngClass]="{'full-width':state == sitesStatus.edit || state == sitesStatus.login}">
      <router-outlet></router-outlet>
    </div>
  </div>
  <button *ngIf="user && sidebarState === 'closed' && state !== sitesStatus.edit" (click)="openSidebar()" class="menu"
    [@buttonEnterAnimation]>
    <fa-icon [icon]="faBars"></fa-icon>
  </button>
</div>
