@mixin theme-insert-link($theme) {
  insert-link .insert-link {
    display: flex;
    flex-direction: column;

    mat-dialog-content {
      display: flex;
      flex-flow: column;

      mat-form-field {
        width: 300px;
      }
    }

    .button {
      margin-right: 10px;
    }
  }
}


