.role {
  height: calc(100vh - 50px);
  overflow: auto;

  section {
    border-top: 1px solid #eee;
    padding: 20px;
  }

  section:first-child {
    border-top: none;
  }

  label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    display: block;
  }

  table {
    width: 100%;
    border-color: white;
    border: 1px solid white;
    border-style: hidden;

    thead {
      background-color: #80cbc4;
      padding: 5px 10px;
      text-align: center;
      border-left: 1px solid white;
      color: white
    }

    tbody {
      tr {
        background-color: #eceff1;

        td {
          padding: 5px 10px;
          border-left: 1px solid #FFF;
          vertical-align: middle;
        }
      }

      .columns {
        margin: -10px;
      }
    }

    .icon {
      width: 20px;
      margin: 10px;
      vertical-align: middle;
    }

    .action {
      width: 20px;
      margin: 10px;
      vertical-align: middle;

      fa-icon {
        cursor: pointer;
      }
    }
  }

  .table-action {
    text-align: right;
  }

  .columns {
    display: flex;

    .column {
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      padding: 10px;
    }

    .is-narrow {
      flex: none !important;
    }
  }
}
